{% extends 'layout/backend_base.html.twig' %}


{% block content %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/jobAgency/src/Controller/SupplierController.php'|file_link(0) }}">src/Controller/SupplierController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/jobAgency/templates/supplier/index.html.twig'|file_link(0) }}">templates/supplier/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
